module.exports = function () {
  return {
    // Variables are NODE_NAME and NODE_ID (only a-z0-9\- other chars are replaced with _)
    'nodeInfos': [
      {
        'name': 'Clientstatistik',
        'href': 'https://monitor.frickelfunk.net/grafana/d/000000004/nodes-single?refresh=1m&orgId=1&var-knoten={NODE_NAME}',
        'image': 'https://api.frickelfunk.net/grafana/render/d-solo/F9kwlPciz/nodes-meshviewer?refresh=1m&orgId=1&var-node={NODE_ID}&var-saveinterval=60&panelId=1&width=650&height=350&theme=light&from=now-1d',
        'title': 'Knoten {NODE_NAME} - weitere Statistiken'
      },
      {
        'name': 'Trafficstatistik',
        'href': 'https://monitor.frickelfunk.net/grafana/d/000000004/nodes-single?refresh=1m&orgId=1&var-knoten={NODE_NAME}',
        'image': 'https://api.frickelfunk.net/grafana/render/d-solo/F9kwlPciz/nodes-meshviewer?refresh=1m&orgId=1&var-node={NODE_ID}&var-saveinterval=60&panelId=2&width=650&height=350&theme=light&from=now-1d',
        'title': 'Knoten {NODE_NAME} - weitere Statistiken'
      }
    ],
    'globalInfos_deactivated': [
      {
        'name': 'Statistik',
        'href': 'https://stats.freifunk-westpfalz.de/dashboard/db/freifunk-ffwp-global?orgId=1',
        'image': 'https://stats.freifunk-westpfalz.de/render/dashboard-solo/db/freifunk-ffwp-global?panelId=6&orgId=1&from=now-1y&var-INTERVAL=1d&theme=light&width=600&height=350&tz=UTC%2B02%3A00',
        'title': 'Jahresstatistik - weiteren Statistiken'
      }
    ],
    // Array of data provider are supported
    'dataPath': [
      'https://api.karlsruhe.freifunk.net/yanic/meshviewer/ffwp/'
    ],
    'siteName': 'Freifunk Westpfalz',
    'maxAge': 10,
    'contact': false,
    'hardwareUsage': true,
    'mapLayers': [
      {
        'name': 'Freifunk Westpfalz',
        'url': 'https://tiles.freifunk-westpfalz.de/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 20,
          'subdomains': '1234',
          'attribution': '<a href="http://www.openmaptiles.org/" target="_blank">&copy; OpenMapTiles</a> <a href="http://www.openstreetmap.org/about/" target="_blank">&copy; OpenStreetMap contributors</a>',
          'start': 6
        }
      },
      {
        'name': 'OpenStreetMap.HOT',
        'url': 'https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 19,
          'attribution': '&copy; Openstreetmap France | &copy; <a href=\"http://www.openstreetmap.org/copyright\">OpenStreetMap</a>'
        }
      },
      {
        'name': 'OpenTopoMap',
        'url': '//{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
        'config': {
          'maxZoom': 17,
          'attribution': 'Map data: {attribution.OpenStreetMap}, <a href=\"http://viewfinderpanoramas.org\">SRTM</a> | Map style: &copy; <a href=\"https://opentopomap.org\">OpenTopoMap</a> (<a href=\"https://creativecommons.org/licenses/by-sa/3.0/\">CC-BY-SA</a>)'
        }
      },
      {
        'name': 'Esri.WorldImagery',
        'url': '//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        'config': {
          'maxZoom': 19,
          'attribution': 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }
      }
    ],
    // Set a visible frame
    'fixedCenter': [
      // Northwest
      [
        49.692508,
        6.856842
      ],
      // Southeast
      [
        49.103545,
        8.492432
      ]
    ],
    'domainNames': [
      {'domain': 'ffwp_7868041', 'name': 'Kusel-Altenglan (VG)'},
      {'domain': 'ffwp_3861683', 'name': 'Lauterecken-Wolfstein (VG)'},
      {'domain': 'ffwp_6852883', 'name': 'Oberes Glantal (VG)'},
      {'domain': 'ffwp_660631', 'name': 'Baumholder (VG)'},
      {'domain': 'ffwp_660632', 'name': 'Birkenfeld (VG)'},
      {'domain': 'ffwp_660630_0001', 'name': 'Herrstein (VG)'},
      {'domain': 'ffwp_660630_0002', 'name': 'Herrstein'},
      {'domain': 'ffwp_660633', 'name': 'Rhaunen (VG)'},
      {'domain': 'ffwp_444934', 'name': 'Idar-Oberstein'},
      {'domain': 'ffwp_611092', 'name': 'Bad Kreuznach (VG)'},
      {'domain': 'ffwp_611091', 'name': 'Bad Sobernheim (VG)'},
      {'domain': 'ffwp_611083', 'name': 'Kirn-Land (VG)'},
      {'domain': 'ffwp_611086', 'name': 'Langenlonsheim (VG)'},
      {'domain': 'ffwp_611087', 'name': 'Meisenheim (VG)'},
      {'domain': 'ffwp_611089', 'name': 'Rüdesheim (VG)'},
      {'domain': 'ffwp_611088', 'name': 'Stromberg (VG)'},
      {'domain': 'ffwp_611084', 'name': 'Bad Kreuznach (Kreisstadt)'},
      {'domain': 'ffwp_611085', 'name': 'Kirn'},
      {'domain': 'ffwp_903983', 'name': 'Dahner Felsenland (VG)'},
      {'domain': 'ffwp_903986_0001', 'name': 'Hauenstein (Hofstätten)'},
      {'domain': 'ffwp_903986_0002', 'name': 'Hauenstein (VG)'},
      {'domain': 'ffwp_903980', 'name': 'Pirmasens-Land (VG)'},
      {'domain': 'ffwp_903982', 'name': 'Rodalben (VG)'},
      {'domain': 'ffwp_3862219', 'name': 'Thaleischweiler-Wallhalben (VG)'},
      {'domain': 'ffwp_903985', 'name': 'Waldfischbach-Burgalben (VG)'},
      {'domain': 'ffwp_903984', 'name': 'Zweibrücken-Land (VG)'},
      {'domain': 'ffwp_62642', 'name': 'Pirmasens'},
      {'domain': 'ffwp_62719', 'name': 'Zweibrücken'},
      {'domain': 'ffwp_93817', 'name': 'Otterberg'},
      {'domain': 'ffwp_1260234', 'name': 'Otterbach (Westpfalz)'},
      {'domain': 'ffwp_12602340001', 'name': 'Otterbach-Otterberg Umland (VG)'},
      {'domain': 'ffwp_898848', 'name': 'Bruchmühlbach-Miesau (VG)'},
      {'domain': 'ffwp_898849', 'name': 'Enkenbach-Alsenborn (VG)'},
      {'domain': 'ffwp_9737040', 'name': 'Landstuhl (VG)'},
      {'domain': 'ffwp_898845', 'name': 'Ramstein-Miesenbach (VG)'},
      {'domain': 'ffwp_898852', 'name': 'Weilerbach (VG)'},
      {'domain': 'ffwp_kl_67661', 'name': 'KL-Siegelbach'},
      {'domain': 'ffwp_kl_07', 'name': 'KL-Gewerbegebiet-West'},
      {'domain': 'ffwp_kl_02', 'name': 'KL-Erzhütten-Engelshof'},
      {'domain': 'ffwp_kl_01', 'name': 'KL-Erfenbach'},
      {'domain': 'ffwp_kl_03', 'name': 'KL-Morlautern'},
      {'domain': 'ffwp_kl_13', 'name': 'KL-Bännjerrück'},
      {'domain': 'ffwp_kl_04', 'name': 'KL-Erlenbach'},
      {'domain': 'ffwp_kl_05', 'name': 'KL-Gersweilerhof'},
      {'domain': 'ffwp_kl_20', 'name': 'KL-Uniwohngebiet/Uni'},
      {'domain': 'ffwp_kl_21', 'name': 'KL-Institute'},
      {'domain': 'ffwp_kl_06', 'name': 'KL-Eselsfürth'},
      {'domain': 'ffwp_kl_22', 'name': 'KL-Lämmchesberg'},
      {'domain': 'ffwp_kl_11', 'name': 'KL-PRE-Park'},
      {'domain': 'ffwp_kl_15', 'name': 'KL-Kotten'},
      {'domain': 'ffwp_kl_18', 'name': 'KL-Volkspark'},
      {'domain': 'ffwp_kl_08', 'name': 'KL-Fischerrück'},
      {'domain': 'ffwp_kl_14', 'name': 'KL-Galgenschanze'},
      {'domain': 'ffwp_kl_09', 'name': 'KL-Kaiserberg'},
      {'domain': 'ffwp_kl_10', 'name': 'KL-Grübentälchen'},
      {'domain': 'ffwp_kl_16', 'name': 'KL-Innenstadt-West'},
      {'domain': 'ffwp_kl_17', 'name': 'KL-Innenstadt-Ost'},
      {'domain': 'ffwp_kl_12', 'name': 'KL-Einsiedlerhof'},
      {'domain': 'ffwp_kl_19', 'name': 'KL-Hohenecken'},
      {'domain': 'ffwp_kl_24', 'name': 'KL-Dansenberg'},
      {'domain': 'ffwp_kl_25', 'name': 'KL-Mölschbach'},
      {'domain': 'ffwp_kl_23', 'name': 'KL-Betzenberg'},
      {'domain': 'ffwp_12539880001', 'name': 'ROK-VG Umland'},
      {'domain': 'ffwp_2645494', 'name': 'Alsenz-Obermoschel (VG)'},
      {'domain': 'ffwp_1253988', 'name': 'ROK-VG Rockenhausen'},
      {'domain': 'ffwp_1254070', 'name': 'KIB-VG Kirchheimbolanden'},
      {'domain': 'ffwp_1254056', 'name': 'KIB-VG Dannenfels'},
      {'domain': 'ffwp_9022140002', 'name': 'Göllheim-VG West'},
      {'domain': 'ffwp_12540650001', 'name': 'KIB-VG Umland'},
      {'domain': 'ffwp_9022140001', 'name': 'Göllheim-VG Ost'},
      {'domain': 'ffwp_902215', 'name': 'Eisenberg (Pfalz) (VG)'},
      {'domain': 'ffwp_902219', 'name': 'Winnweiler (VG)'}
    ],
    'siteNames': [
      {
        'site': 'ffwp',
        'name': 'Westpfalz'
      }
    ],
    'linkList': [
      {
        'title': 'Impressum',
        'href': 'https://www.freifunk-westpfalz.de/impressum/'
      },
      {
        'title': 'Datenschutz',
        'href': 'https://www.freifunk-westpfalz.de/datenschutzerklaerung/'
      }
    ]
  };
};

