{% macro address(input) -%}
    {{ salt['netaddr.address'](input) }}
{%- endmacro -%}
{% set v6_ula_prefix = salt['pillar.get']('ffwp:v6_ula_prefix') -%}
{% set v6_public_prefix = salt['pillar.get']('ffwp:v6_public_prefix') -%}
{% set v6_suffix = salt['pillar.get']('network:br_ffwp:v6_suffix') -%}

domain (ip ip6) {
  table filter {
    chain INPUT {
      daddr ({{ address(salt['pillar.get']('network:br_ffwp:v4_network')) }} {{ address([v6_ula_prefix, v6_suffix] | join) }} {{ address([v6_public_prefix, v6_suffix] | join) }}) {
        proto (udp tcp) dport 53 ACCEPT;
      }
    }
  }
}
