{# ToDo: auslagern und includen #}
{% macro address(input) -%}
    {{ salt['netaddr.address'](input) }}
{%- endmacro -%}
{% macro netmask(input) -%}
    {{ salt['netaddr.netmask'](input) }}
{%- endmacro -%}
{% macro prefix(input) -%}
    {{ salt['netaddr.prefix'](input) }}
{%- endmacro -%}
{% macro net(input) -%}
    {{ salt['netaddr.net'](input) }}
{%- endmacro -%}
{% macro cidr(input) -%}
    {{ salt['netaddr.cidr'](input) }}
{%- endmacro -%}

log syslog all;

router id {{ address(network.internal.v4) }};

#interne BIRD Routing-Tabelle
table ibgp;
table interior;
table ffwp;
table icvpn;
table ffrl;
table inetexit;

{#
roa table icvpn_roa {
	include "/etc/bird/bird4_roa_icvpn.con?";
};
#}
function is_ffwp_ffrl_nets() {
  return net ~ [
  185.66.194.18/31{31,32},
  185.66.195.18/31{31,32}
  ];
}

#In Funktionen Variablen nicht moeglich
function is_ffrl_nat() {
  return net ~ [
  {{ network.exit.v4 }}
  ];
}

function is_ffwp() {
    return net ~ [
    10.198.0.0/16+
    ];
}

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

# ggf. mal aufsplitten
function is_valid_network() {
  return net ~ [
    172.22.0.0/15{22,28}, # dn42 main net0
    172.21.0.0/16{23,29}, # dn42 main net2
    172.20.0.0/16{21,28}, # dn42 main net1
    172.22.0.0/23{28,32}, # dn42 Anycast range
    172.23.0.0/24{28,32}, # dn42 Anycast range
    10.0.0.0/8{12,28}, # freifunk/chaosvpn
    172.31.0.0/16{22,28} # chaosvpn
#    94.45.224.0/19{19,28}, # ccc event network
#    151.217.0.0/16{16,28}, # ccc event network 2
  ];
}

protocol device {
        scan time 10;
};

#Kopiere gelernte Routen aus FFRL in Main Tabelle
protocol pipe pipe_main_ffrl {
  peer table ffrl;
  #Source Adresse setzen
  import filter {
      krt_prefsrc = {{ address(network.exit.v4) }};
      if is_default() then accept;
      reject;
  };
  export none;
};

#Kopiere Routen aus Main in die inetexit Tabelle
protocol pipe pipe_main_inetexit {
  peer table inetexit;
  import none;
  export filter {
      if is_default() then accept;
      #todo: ggf. auch andere Public Netze
      reject;
  };
};

protocol pipe pipe_main_ffwp {
  peer table ffwp;
  import none;
  export filter {
    if is_ffwp() then accept;
    reject;
  };
};

protocol pipe pipe_main_interior {
  peer table interior;
  import filter {
      if is_ffwp() then accept;
      reject;
  };
  export none;
};

#Kopiere alle Routen bis auf FFWP und Default Routen in iBGP Tabelle
protocol pipe pipe_main_ibgp {
  peer table ibgp;
  import all;
  export where !is_ffwp() && !is_default();
};

protocol pipe pipe_main_icvpn {
  peer table icvpn;
  import filter {
    if is_ffwp() then reject;
    if is_valid_network() then accept;
    reject;
  };
  export filter {
    if is_ffwp() && is_valid_network() then accept;
    if is_valid_network() then accept;
    reject;
  };
};

# IP-NAT-Adresse legen wir in die interne BIRD Routing Table
protocol static ffrl_uplink_hostroute {
    table ffrl;
    route {{ network.exit.v4 }} reject;
}

protocol kernel kernel_ffwp {
  scan time 10;
  #Auch Device Routen in Tabelle eintragen da benoetigt und durch rules kein kontakt zur Main Routing Tabelle
  device routes;
  import none;
  export filter {
    krt_prefsrc = {{ address(network.internal.v4) }};
    if is_ffwp() then accept;
    reject;
  };
  table ffwp;
  kernel table 40;
};

protocol kernel kernel_icvpn {
  scan time 10;
  #Auch Device Routen in Tabelle eintragen da benoetigt und durch rules kein kontakt zur Main Routing Tabelle
  device routes;
  import none;
  export filter {
    krt_prefsrc = {{ address(network.internal.v4) }};
    if is_default() then reject;
    if is_ffwp() then reject;
    if is_valid_network() then accept;
    reject;
  };
  table icvpn;
  kernel table 41;
};

#Routen aus inetexit in die Kernel Table 42 (ffinetexit) schreiben
protocol kernel kernel_inetexit {
  #Auch Device Routen in Tabelle eintragen da benoetigt und durch rules kein kontakt zur Main Routing Tabelle
#  device routes;
  scan time 10;
  import none;
  export all;
  table inetexit;
  kernel table 42;
};

#Tabelle um OSPF auf keinen Fall zu brechen
protocol kernel kernel_interior {
  scan time 10;
  #Auch Device Routen in Tabelle eintragen da benoetigt und durch rules kein Kontakt zur Main Routing Tabelle
  device routes;
  import none;
  export filter {
    krt_prefsrc = {{ address(network.internal.v4) }};
    #Default Routen nicht erwuenscht, Rest aufnehmen
    if is_default() then reject;
    accept;
  };
  table interior;
  kernel table 43;
};

protocol ospf IGP {
  area 0 {
        {% for host in internal_gre -%}
        {% if  host.ospf -%}
        interface "{{ host.name }}";
        {% endif -%}
        {% endfor -%}
        {% if  network.interfaces_direct is defined -%}
        {% for host in network.interfaces_direct -%}
        {% if  host.ospf -%}
        interface "{{ host.interface }}";
        {% endif -%}
        {% endfor -%}
        {% endif -%}
        stubnet {{ network.internal.v4 }};
        #Default Route
        stubnet 0.0.0.0/0;
  };
        stub router no;         # Box macht ggf. auch Transit-Traffic
        ecmp no;                # Kein Equal-Cost-Multipath, um Problemen mit unterschiedlichen
                                # Uplinks aus dem Weg zu gehen
        table interior;
        import keep filtered;
        #Wir wollen alles bis auf Default Routen importieren
        import filter{
          if is_default() then reject;
          accept;
        };
        #Keine Routen von anderen Quellen per OSPF propagieren
        export none;
};

#Sinnvoll?
#protocol direct {
#        table ffrl;
#        interface "tun-ffrl-*";
#        import where is_ffrl_tunnel_nets();
#};

# Uplink ueber ff Rheinland
template bgp ffrl_uplink {
        table ffrl;
        local as {{ ffwp.as_number }};
        import limit 10000;
        import keep filtered;
        import filter {
          if is_default() then accept;
          reject;
        };
        export filter {
          if is_ffrl_nat() then accept;
          reject;
        };
        next hop self;
        direct;
        default bgp_local_pref 200;
        default bgp_med 1;
};

# ibgp zwischen den gateways
template bgp internal {
        table ibgp;
        source address {{ address(network.internal.v4) }};
        local as {{ ffwp.as_number }};
        import filter {
                bgp_path.prepend({{ ffwp.as_number }});
                preference = 99;
                accept;
        };
        export where source = RTS_BGP;
        next hop self;
#von vielen Communitys benutzt macht hier aber Dinge kaputt, wegen OSPF wohl multihop
#        gateway direct;
#        direct;
};

{#
template bgp icvpn_tinc {
    table icvpn;
    import limit 10000;
    import keep filtered;
    source address {{icvpn.ipv4 | ipaddr ('address')}};
    local as {{ ffwp.as_number }};
    import filter {
      if (is_default()) then {
			print "ASN ", bgp_path.last, " announces default route (via ", proto ,")";
			reject;
		  }
		  if (is_ffwp()) then {
			     print "ASN ", bgp_path.last, " announces our RFC-1918 prefix (via ", proto ,")";
			     reject;
		  }
		  if (bgp_path.len > 16) then reject;
		  if (roa_check(icvpn_roa, net, bgp_path.last) = ROA_INVALID) then {
			     print "[icvpn] ROA check failed for ", net, " ASN ", bgp_path.last;
           reject;
		  }
      if (is_valid_network()) then accept;
		  reject;
	   };
    export filter {
      # is_valid_network sorgt dafuer das nur sinnvolle Subnetze announced werden
      if is_ffwp() && is_valid_network() then accept;
      if source = RTS_BGP then {
        if is_valid_network() then accept;
      }
      reject;
    };
}
#}
# hier jeweils ein Eintrag zu jedem der anderen Gateways


{% for host in internal_gre -%}
{% if  host.ibgp -%}
protocol bgp {{ host.name }} from internal {
  neighbor {{ address(host.v4_remote) }} as {{ ffwp.as_number }};
};
{% endif %}
{% endfor %}


#mit local_pref ggf. Uplinks bevorzugen
{% for gre in ffrl_gre.tunnel -%}
protocol bgp ffrl_{{gre.name}} from ffrl_uplink {
  source address {{ address(gre.v4_local) }};
  neighbor {{ address(gre.v4_remote) }} as 201701;
{% if loop.first %}
  default bgp_local_pref 201;
  default bgp_med 1;
{% endif %}
};

{% endfor %}

{#
include "/etc/bird/bird4_peers_icvpn_tinc.conf";
#}
