log to syslog level debug;
hide ip addresses yes;
hide mac addresses yes;

interface "fastd_{{ name }}";

#AES broken in Debian 9 https://projects.universe-factory.net/issues/245, AES einkommentieren wenn Fastd nicht aus backports
method "aes128-ctr+umac";
method "salsa2012+umac";
method "null+salsa2012+umac";
method "null";

bind [{{ salt['pillar.get']('global_host_info:'~grains.id~':public_v6') }}]:{{ port }};
bind {{ salt['pillar.get']('global_host_info:'~grains.id~':outgoing_interface_v4') }}:{{ port }};

secret "{{ secret }}";
mtu {{ mtu }};
mode tap;

{% if peer_limit is defined %}
peer limit {{ peer_limit }};
{% endif -%}

status socket "/var/run/fastd_{{ name }}.status";

on up "
    batctl -m bat0 if add $INTERFACE
    ip link set address {{ mac }} up dev $INTERFACE
    #ip link set up dev bat0
";

on verify "
  /etc/fastd/fastd-blacklist.sh $PEER_KEY
";

on down "
    batctl -m bat0 if del $INTERFACE
";
