{# ToDo: auslagern und includen #}
{% macro address(input) -%}
    {{ salt['netaddr.address'](input) }}
{%- endmacro -%}
{% macro netmask(input) -%}
    {{ salt['netaddr.netmask'](input) }}
{%- endmacro -%}
{% macro prefix(input) -%}
    {{ salt['netaddr.prefix'](input) }}
{%- endmacro -%}
{% macro net(input) -%}
    {{ salt['netaddr.net'](input) }}
{%- endmacro -%}
{% macro cidr(input) -%}
    {{ salt['netaddr.cidr'](input) }}
{%- endmacro -%}
log syslog all;
#Router ID (hier v4)
router id {{ address(network.br_ffwp.v4_network) }};

#interne BIRD Routing-Tabelle
table freifunk;
table interior;

function is_default() {
        return (net ~ [0.0.0.0/0]);
};

function is_ffwp() {
	return (net ~ [{{ net(network.br_ffwp.v4_network) }}+]);
};

#Alles von Bird Main Tabelle in Freifunk Tabelle kopieren
protocol pipe pipe_main_freifunk {
  peer table freifunk;
  import none;
  export all;
};

#Alles bis auf Default Routen von Bird Main Tabelle in interior Tabelle kopieren
protocol pipe pipe_main_interior {
  peer table interior;
  import none;
  export filter{
    if is_default() then reject;
    accept;
  };
};

protocol device {
        scan time 10;
};

#FFWP Bridge auch in Freifunk Tabelle setzen
protocol direct ffwp_bridge {
        interface "br_ffwp";
        table freifunk;
}

#Alles inkl Default Routen von OSPF übernehem in Bird Main Tabelle
#Eigene Netze über OSPF propagieren
protocol ospf IGP {
  area 0 {
        interface "ffwp_*";
	interface "eth1";
	#Clientnetz als ganzes
	stubnet {{ net(network.br_ffwp.v4_network) }};
	#Subnetz vom GW?!?
	};
  import all;
  #Keine Routen von anderen Quellen per OSPF propagieren
	export none;

};

#Schreibe alles von Bird Freifunk Tabelle in Kernel Tabelle Freifunk (inkl. Default Routen)
protocol kernel kernel_freifunk {
        scan time 10;
        #Auch Device Routen in Tabelle eintragen da benötigt und durch rules kein kontakt zur Main Routing Tabelle
        device routes;
        import none;
        #Source Adresse umschreiben? Filtern?
        export all;
        table freifunk;
        kernel table 42;
};

#Schreibe alles, bis auf Default Routen, von Bird interior Tabelle in Main Kernel Tabelle
protocol kernel kernel_interior {
        scan time 10;
        #Auch Device Routen in Tabelle eintragen da benötigt und durch rules kein kontakt zur Main Routing Tabelle
        device routes;
        import none;
        #Source Adresse umschreiben? Filtern?
        export filter{
          if is_default() then reject;
          accept;
        };
        table interior;
        kernel table 43;
};
