{
  "batman": "bat0",
  "bridge": "br_ffwp",
  "mesh-vpn": [ "{{ salt['pillar.get']('respondd:fastd_instance') }}" ],
  "fastd_socket": "/var/run/{{ salt['pillar.get']('respondd:fastd_instance') }}.status",
  "nodeinfo": {
    "location": {
      "latitude": {{ salt['pillar.get']('respondd:location:latitude') }},
      "longitude": {{ salt['pillar.get']('respondd:location:longitude') }}
    },
    "network": {
      "mac": "{{ salt['pillar.get']('respondd:mac') }}"
    },
    "node_id": "{{ salt['pillar.get']('respondd:node_id') }}",
    "owner": {
        "contact": "FFWP"
    },
    "software": {
      "firmware": {
        "release": "1"
      }
    },
    "system": {
      "site_code": "ffwp"
    },
        "vpn": true
  }
}
